{% extends "airports.html" %}
{% load o %}


{% block title %}Рейсы{% endblock %}
{% block heading %}Список рейсов{% endblock %}
{% block mainbody %}
    {% if user|o:"Employees" or user|o:"Admin" %}
        {% for x in z %}
            {% if x.id == flight_id %}
    <form method="post" action="{% url 'flights_edit' airport_id flight_id %}">
        {% csrf_token %}
        <div class="forms" style="width: 40%; margin-top: 3%; margin-left: 30%;">
            <div class="form-row">
      <input id="airport_id" name="airport_id" type="hidden" value="{{ airport_id }}">
      <input id="id" type="text" required="" name="id" maxlength="100"  value="{{ x.id }}"><label for="id">ID</label>
            </div>
            <div class="form-row">
      <input id="airline" type="text" required="" name="airline" maxlength="100"  value="{{ x.airline }}"><label for="airline">Airline</label>
            </div>
    <div class="form-row">
      <input id="airplane" type="text" required="" name="airplane" maxlength="100"  value="{{ x.airplane }}"><label for="airplane">Airplane</label>
        </div>
    <div class="form-row">
      <input id="departure" type="text" required="" name="departure" maxlength="100"  value="{{ x.departure }}"><label for="departure">Departure</label>
        </div>
    <div class="form-row">
      <input id="destination" type="text" required="" name="destination" maxlength="100"  value="{{ x.destination }}"><label for="destination">Destination</label>
        </div>
            <div class="form-row">
      <input id="deptime" type="text" required="" name="deptime" maxlength="100"  value="{{ x.deptime }}"><label for="deptime">Dep.time</label>
        </div>
            <div class="form-row">
      <input id="destime" type="text" required="" name="destime" maxlength="100"  value="{{ x.destime }}"><label for="destime">Des.time</label>
        </div>
                    <input type="submit" value="submit" />
        </div>

        </form>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endblock %}